<%- include ('partials/header.html') %> <%- include ('partials/menu.html') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <% datos.forEach(coin => { %>
          <tr>
            <td><img src="<%=coin.image%>" alt="coin" style="width:30px;"></td>
            <td><%=coin.name%></td>
            <td><%=coin.current_price%></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include ('partials/footer.html') %>

