<%- include ('partials/header.html') %> <%- include ('partials/menu.html') %>

<div class="container-fluid mt-5">
  <div class="row">
    
    <% datos.forEach(coin => { %>
      <div class="col-12 col-md-4 data">

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-4">
                <img src="<%=coin.image%>" class="w-100" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title"><%=coin.name%></h5>
                  <p class="card-text"><%=coin.current_price%>$</p>
                  <a class="nav-link btn border-primary" href="/infocoin/<%=coin.id%>">mas informacion</a>
                </div>
              </div>
            </div>
          </div>

        </div>
          <% }); %>

  </div>
</div>

<%- include ('partials/footer.html') %>

